/* body {
    background-color: lightgrey;
    background-image: url("../images/01-02-02_background-img.jpg");
} */

body {
    background-color: rgb(208, 231, 199);
}

h2 {
    color: orange;
}

p {
    font-weight: bold;
}





