<<<<<<< HEAD

/* body {
    background-color: lightgrey;
    background-image: url("../images/01-02-02_background-img.jpg");
} */

body {
    background-color: lightgrey;
    background-image: url("/assets/images/01-02-02_background-img.jpg");
}

h2 {
    color: orange;
}

p {
    font-weight: bold;
}
=======

/* body {
    background-color: lightgrey;
    background-image: url("../images/01-02-02_background-img.jpg");
} */

body {
    background-color: lightgrey;
    background-image: url("/assets/images/01-02-02_background-img.jpg");

}



>>>>>>> 07df7dc6aae551222c0ad242397658fab7e64324
